<div>
  <form action="#" method="get" class="container">
    <div class="icon">
      <img src="imgs/icone.png">
    </div>
    
    <input type="text" placeholder="Nome" class="form-control">
    <input type="text" placeholder="Idade" class="form-control">
    <input type="submit" value="Cadastrar" class="btn btn-primary">
  </form>

  <table class="container table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Selecior</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sousa</td>
        <td>30</td>
        <td><a href="#">Selecionar</a></td>
      </tr>
    </tbody>
  </table>
</div>