<div>
  <form action="#" method="get" class="container">
    <div class="icon">
      <img src="imgs/icone.png">
    </div>
    
    <input type="text" placeholder="Nome" class="form-control">
    <input type="text" placeholder="Idade" class="form-control">
    <input type="submit" value="Cadastrar" class="btn btn-primary">
  </form>

  <table class="container table table-secondary">
    <thead>
      <tr class="table-dark">
        <th>Nome</th>
        <th>Idade</th>
        <th>Selecior</th>
      </tr>
    </thead>
    <tbody>
      {{#each clientes}}
        <tr>
          <td>{{this.nome}}</td>
          <td>{{this.idade}}</td>
          <td><a href="/clientes/{{this.id}}">Selecionar</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>