<div class="container">
  <form action="/editar" method="post">
    <div class="icon">
      <img src="../imgs/icone.png">
    </div>
    
    <input type="hidden" name="id" value="{{cliente.id}}" class="form-control" readonly>
    <input type="text" name="nome" value="{{cliente.nome}}" placeholder="Nome" class="form-control">
    <input type="text" name="idade" value="{{cliente.idade}}" placeholder="Idade" class="form-control">
    <input type="submit" value="Editar" class="btn btn-warning btnEditar">

    <a href="/remover/{{cliente.id}}" class="btn btn-danger">Excluir</a>
    <a href="/" class="btn btn-secondary">Cancelar</a>
  </form>
</div>